# Gmail Configuration (Replace with your actual app password)
GMAIL_APP_PASSWORD=your_gmail_app_password_here

# NextAuth Configuration
NEXTAUTH_SECRET="meup"
NEXTAUTH_URL=http://localhost:3000

# Database Configuration
DATABASE_URL="postgresql://neondb_owner:npg_Gl3vaNc5qXEh@ep-curly-flower-a5jhtgx1-pooler.us-east-2.aws.neon.tech/neondb?sslmode=require"

# Resend Configuration (Keep for backup)
RESEND_API_KEY=re_QYDiMe8L_594C4kHNZiYZTuyahnP4pu9d 